<!--Navigation bar-->
<style>
#webname {
  font-size: 25px;
  font-family: museo-slab, Georgia, "Times New Roman", Times, serif;
  font-weight: 300;
}
#login-btn {
  font-size: 20px;
}
#logout-btn {
  font-size: 20px;
}
</style>

<div ng-controller='headController'>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a id="webname" class="navbar-brand" href="/#/"> <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>pen eLab</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul id="login" class="nav navbar-nav navbar-right">
        
          <li><a href="" id="login-btn" ng-click='Login()' ng-show=[[buttonShow]]><i class="fa fa-sign-in" aria-hidden="true"></i> Login</a></li>
          <li><a href="" id="logout-btn" ng-click='Logout()' ng-hide=[[buttonShow]]>Logout <i class="fa fa-sign-out" aria-hidden="true"></i></a></li>li>
          <!--
          <button id="login-btn" class="btn btn-info" ng-click='Login()' ng-show=[[buttonShow]]>Login</button>
          <button id="logout-btn" class="btn btn-info" ng-click='Logout()' ng-hide=[[buttonShow]]>Logout</button>
          -->
          
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>
</div>
