---
layout: default
title: Openstack eLab
---
<div ng-include src="'/Views/head.html'"></div>
<!--Banner-->
<div class="jumbotron">
   	<div class="container">
       	<h1 id="welcome">[[greeting]]</h1>
       	<p>Everyone knows about the giant skills gap that is haunting the IT sector worldwide. Powered by Chameleon Cloud, eLab cloud based learning platform helps you achieve certification for today's tech job.</p>
       	<p><a class="btn btn-primary btn-md" href="/#/about" role="button">Learn more &raquo;</a></p>
    </div>
</div>
<div class="container">
	<h2 class="text-left">Openstack Developer Certification:</h2>
  <p>This course is an introduction class covering the core OpenStack projects including Nova, Neutron, Glance, Keystone and Horizon. This course covers lessons that range from community code contribution, understanding the architecture, to installing and configuring. This course is a great primer for anyone interested in OpenStack code development. This course is designed for technical individuals and consists of hands on labs.</p>
	<div class="container">
	         {% for topic in site.data.topics %}
           <ul>
	        	<div>
		    		<a {{ topic.link }} >  <h3> - {{ topic.title }}</h3></a>
		    		<!--description
            <p>{{ topic.description }}</p>
            -->
		    	</div>
          </ul>
			     {% endfor %}
    	</p>
    </div>
</div>

<div class="container">
  <h2 class="text-left"> Docker Container</h2>
  <p>This guide provides detailed instructions on the documentation contribution workflow and conventions to be considered by all contributors. Please follow these guidelines to keep the documentation structure, style, and syntax consistent.</p>
  <div class="container">
           {% for topic in site.data.docker %}
           <ul>
            <div>
            <a {{ topic.link }} >  <h3> - {{ topic.title }}</h3></a>
            <!--description
            <p>{{ topic.description }}</p>
            -->
          </div>
          </ul>
           {% endfor %}
      </p>
    </div>
</div>

<div class="container">
  <h2 class="text-left">Machine Learning Certification (Coming soon):</h2>
  <p>This guide provides detailed instructions on the documentation contribution workflow and conventions to be considered by all contributors. Please follow these guidelines to keep the documentation structure, style, and syntax consistent.</p>
  <div class="container">
           {% for topic in site.data.topics2 %}
           <ul>
            <div>
            <a {{ topic.link }} >  <h3> - {{ topic.title }}</h3></a>
            <!--description
            <p>{{ topic.description }}</p>
            -->
          </div>
          </ul>
           {% endfor %}
      </p>
    </div>
</div>

<div class="container">
  <h2 class="text-left">Internet of Things Certification (Coming soon):</h2>
  <p>This guide provides detailed instructions on the documentation contribution workflow and conventions to be considered by all contributors. Please follow these guidelines to keep the documentation structure, style, and syntax consistent.</p>
  <div class="container">
           {% for topic in site.data.topics3 %}
           <ul>
            <div>
            <a {{ topic.link }} >  <h3> - {{ topic.title }}</h3></a>
            <!--description
            <p>{{ topic.description }}</p>
            -->
          </div>
          </ul>
           {% endfor %}
      <p style="padding:2em;">
      </p>
    </div>
</div>



<div ng-include src="'/Views/foot.html'"></div>
