---
layout: default
---

<head>
	<title>Openstack eLab</title>
	<!--Vendor CSS-->
	<link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
		<!--bootstrap-->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<!-- Modified local css-->
	<link href="/Assets/CSS/jumbotron.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

	<!--Vendor javascripts-->
		<!--AngularJS-->
	<script src="/Vendors/angularJS/angular.min.js"></script>
	<script src="/Vendors/angularJS/angular-route.js"></script>
	<script src="/Vendors/angularJS/angular-route.min.js"></script>
	<script src="/Vendors/angularJS/angular-cookie.js"></script>
		<!--Jquery-->
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
	<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    	<!--bootstrap-->
    		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

	<!--My javascripts-->
	<script src="/App/app.js"></script>
	<script src="/App/route.js"></script>
	<script src="/App/Controllers/homeController.js"></script>
	<script src="/App/Controllers/loginController.js"></script>
	<script src="/App/Controllers/headController.js"></script>
	<script src="/App/Controllers/topicController.js"></script>
	<script src="/App/Factories/authFactory.js"></script>
	<script src="/App/Factories/buttonFactory.js"></script>
	<script type="text/javascript" src="/Assets/JS/animate_progress_bar.js"></script>
	

</head>

<body>

<div class=container id="post">
  <a href="/#/"><h1>Go back</h1></a>

	<h1 class="post-title">{{ page.title }}</h1>

	{% for video in site.data.videos %}

	     {% if video.title == page.title %}
	    
	       {{ video.code }}

	   	{% endif %}

	{% endfor %}

	{{ content }}


</div>
</body>